@import '../../App.scss';

.overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
}

.active {
    display: block;
}

.description-container {
    width: 120vh;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $white-color;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;

    .description-image {
        width: 50%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .description-details {
        width: 50%;
        padding: 50px 80px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .description__title {
            font-size: $font-size-lg;
            font-family: $font-family-poppins;
        }

        .description__price {
            font-size: $font-size-xlg;
            font-family: $font-family-poppins;
        }

        .description__price-wishlist {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
        }

        .description__wishlist-btn {
            background: none;
            outline: none;
            border: none;
            color: $black-color;
            margin-right: 20px; 
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 16px;
            font-family: $font-family-poppins;
            cursor: pointer;
        }

        p {
            line-height: 1.5rem;
            span {
                font-weight: bold;
                font-family: $font-family-poppins;
            }
        }

        .description-btns {
            background: $black-color;
            padding: 10px 20px;
            color: $white-color;
            outline: none;
            border: none;
            font-size: 16px;
            font-family: $font-family-poppins;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: $fourth-color;
            }

            &:active {
                background-color: $secondary-color;
            }
        }

        .description__size-cart {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                gap: 20px;

                input {
                    cursor: pointer;
                }

                span {
                    margin: 0 5px;
                }
            }
        }
    }
}

.close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 2;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &::before,
    &::after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1.2px;
        background-color: $fourth-color;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

}